@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
margin: 0;
padding: 0;
}

.phantom-button {
  height: inherit !important;
  padding: inherit !important;
  background-color: #4094F7 !important;
  color: white !important;
}

.phantom-button:hover {
  background-color: #74aff2 !important;
}

.phantom-button:hover > span {
  color: rgb(211, 211, 211) !important;
} 