@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
margin: 0;
padding: 0;
font-weight: 500;
}

.wallet-adapter-button, .wallet-adapter-button-trigger{
  /* all:unset !important; */
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity)) !important;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.item-step{
  @apply relative flex flex-col justify-center items-center w-36
}

.item-step:not(:first-child):before{
  @apply content-[''] bg-slate-300 absolute w-[200px] h-[3px] right-2/4 top-1/3 -translate-y-3/4;
}

.step{
  @apply w-10 h-10 flex items-center justify-center z-10 relative bg-slate-500 rounded-full font-semibold text-white ;
}

.active .step{
  @apply bg-teal-500
}
.complete .step{
  @apply bg-teal-500
}

.complete:not(:first-child):before{
  @apply bg-teal-500
}
.complete p{
  @apply text-teal-500
}